* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
#main-title {
    margin-top: 25px;
    text-align: center;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5em;
}
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}
.menu-link {
    font-size: 18px;
    color: black;
    margin-top: 20px;
    text-decoration: none;
}
.footer-container {
    margin-top: 2.5em;
    text-align: center;
}